@media print{
    @page {
        size: A4 portrait;
        padding: 1cm;
        margin: 1cm auto;
        page-break-after: always;
    }
    #footer {
        display: block;
        position: fixed;
        bottom: 0;
        left: 30mm;
        margin-bottom:0px;
        width: 100%
    }
    html, body {
        width: 210mm;
        height: 297mm;
    }
    #toolbar{display: none}

    a[href]:after {
        content: none !important;
    }
}

table.gridPrinttable {
    /*border-collapse: separate;*/
    border :  1px solid #000000;
    border-spacing: 0;
    font-size: 12pt;
    width: 100%;
    /*border-color:  black ;*/
    /*border: 1px solid black;*/
    text-align: center;
}
table.gridPrinttable tr {
    border-color:  #000000 ;
    border-style: none ;
    border-width: 0 ;
    border:1px solid black;
    page-break-inside:avoid; page-break-after:auto
}
table.gridPrinttable td {
    border-color:  black ;
    /*border-right: 1px solid black;*/
    /*border-top:1px solid black ;*/
    border:1px solid black;
    text-align: center;
    padding:4px;
}

table.gridPrinttable th {
    border-color:  black ;
    border:1px solid black;
    /*border-top:1px solid ;*/
    padding:5px;
    text-align:center;
}
table.gridPrinttable tfoot td {
    border-color:  black ;
    border: 1px solid ;
    /*border-top:1px solid ;*/
    /*border-bottom:1px solid ;*/
    padding:4px;
    font-weight:bold;
    text-align: center;
}

/*Phần footer*/
table.gridPrintTableNoBoder {
    /*border-collapse: separate;*/
    /*border :  0px solid #000000;*/
    border-spacing: 0;
    font-size: 12pt;
    width: 100%;
    /*border-color:  #000000 ;*/
    /*border-left: 1px solid;*/
}
table.gridPrintTableNoBoder tr {
    /*border-color:  #000000 ;*/
    border-style: none ;
    border-width: 0 ;
    page-break-inside:avoid; page-break-after:auto
}
table.gridPrintTableNoBoder td {
    /*border-color:  #000000 ;*/
    /*border-right: 1px solid;*/
    /*border-top:1px solid ;*/
    /*border-bottom:1px solid ;*/
    padding:4px;
    /*text-align: center;*/
}

table.gridPrintTableNoBoder th {
    /*border-color:  #000000 ;*/
    /*border-right: 1px solid;*/
    /*border-top:1px solid ;*/
    padding:5px;
    /*text-align:center;*/
}
table.gridPrintTableNoBoder tfoot td {
    /*border-color:  #000000 ;*/
    /*border-right: 1px solid;*/
    /*border-top:1px solid ;*/
    /*border-bottom:1px solid ;*/
    padding:4px;
    font-weight:bold;
}

.navbar-nav >li> a {
    color: white; !important;
}
.navbar-nav >li:hover {
    border: 1px solid white;
}

.navbar-brand {
    color: white; !important;
}